.ProductCard {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Card {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.ImageWrapper {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.Image {
    width: 50%;
    height: 25vh;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    z-index: 1
}

.Like {
    z-index: 2;
    position: absolute;
    cursor: pointer;
    right: 20px;
}

p {
    font-size: 0.8rem;
}

.Card a {
    text-decoration: none;
}