.DrawerToggle {
    width: 30px;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
    left: 0;
}

.DrawerToggle div {
    width: 80%;
    height: 4px;
    background-color: black;
}

@media (min-width: 768px) {
    .DrawerToggle {
        display: none;
    }
}