.MainImage {
    background-image: url('../../assets/images/kids.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin: 5% auto;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.MainImage > div {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-flow: column;
    width: 80%;
}

.MainImage > div > h2 {
    color: white;
    font-size: 3rem;
    margin: 0;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.MainImage > div > p {
    color: white;
    font-size: 2rem;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.MainBrand {
    width: 90%;
    height: auto;
    margin: 10% auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.MainBrand a {
    display: flex;
    height: 100%;
    width: 10%;
}

.MainBrand img {
    height: 80%;
    width: 80%;
}

.News {
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10% auto;
    padding: 0;
    box-sizing: border-box;
}

.News a {
    text-decoration: none;
    color: lightseagreen;
}

.NewsItem {
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.NewsItem > a {
    font-size: 1.5rem;
}

.NewsItemImgFirst {
    background-image: url('../../assets/images/playing-child-baby.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    border-radius: 10px;
}

.NewsItemImgSecond {
    background-image: url('../../assets/images/raincoats.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    border-radius: 10px;
}

.NewsItemImgThird {
    background-image: url('../../assets/images/Tshirt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .MainImage {
        background-size: cover;
        background-position: "center center";
        height: 50vh;
        background-repeat: no-repeat;
    }

    .MainImage > div > h2 {
        color: white;
        font-size: 2rem;
        margin: 0;
        text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    .MainImage > div > p {
        color: white;
        font-size: 1rem;
        text-shadow:
           3px 3px 0 #000,
         -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
    }

    .MainBrand {
        height: auto;
    }

    .MainBrand a {
        height: 100%;
        width: 31%;
    }

    .News {
        height: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
    }

    .NewsItem {
        width: 80%;
        margin: 15px auto;
    } 
}